 
/* window */
#window1 { height: 5.5rem; }
.label-text #search-area { width: 2rem; }
.label-text #search-business { width: 2rem; }
.label-text #search-enterprise { width: 2rem; }
.label-text #search-year { width: 2rem; }